/*Ftiaxnoume metablhtes gia thn paleta xrvmatvn mas*/
:root {
  --lightBlue: #e0fbfc;
  --mediumBlue: #98c1d9;
  --darkBlue: #3d5a80;
}

/*dinoyme prosbash sthn grammatoseira Roboto apo to arxeio Roboto-Light.ttf poy periexetai mesa ston fakelo*/
@font-face {
    font-family: 'Roboto';
    src: url(Roboto-Light.ttf);
}

/*Allazei to xrvma tou background sto body kai gemizei thn selida xvris katholou keno , epishs dinei thn idiothta na einai grid kai pws tha ginetai to layout sto grid(me to template areas)*/
body {
    margin: 0;
    padding: 0;
    background-color: var(--lightBlue);
    font-family: 'Roboto', Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
      'header'
      'menu'
      'main'
      'bestsellers'
      'footer';
}
/*Allazei to xrwma toy background sto header, orizei poia perioxh einai sto grid(area), stoixizei to periexomeno sto kentro*/
header{
    background-color: var(--darkBlue);
    grid-area: header; 
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
}
 
 /*Allazei to megethos ths eikonas toy logo kai rythmizei to margin ths*/
#logo{
    width: 350px;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Rythmizei to megethos toy icon poy yparxei se kathe selida katw deksia wste na se anebazei pali sthn koryfh ths selidas, rythmizei thn thesh toy icon kai me to fixed to kanei na paramenei stathero se ayth thn thesh*/
#back-to-top{
    display: block;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 4em;
    right: 4em;
}

/*Rythmizei to margin ths eikonas sthn selida contact(epikoinwnia)*/
#contact-image{
    display: block;
    margin: 0px auto 0px auto;
}

/*Rythmizei to megethos ths eikonas sthn arxikh selida (index)) kai rythmizei to padding kai to margin ths*/
#index-image{
    display: block;
    margin: 0px auto 0px auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*allazei to megethos toy keimenoy se paragraph(p) poy einai siblings me eikona(tag picture) kai to stoixizei sto kentro*/
picture + p{
    font-size:25px;
    text-align: center;
}

/*Rythmizei to megethos, to xrwma kai to padding toy menu, dld h aristerh mpara me ta periexomena ths istoselidas mas,orizei poia perioxh einai sto grid layout, dinei thn idiothta flex kai stoixizei to periexomeno sto kentro me kena sto endiameso*/
#menu{
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    background-color: var(--mediumBlue);
    padding: 16px;
}

/*orizei poia perioxh einai sto grid to bestesellers section ths selidas,dld h deksia mpara me ta bestsellaers mathimata, allazei to background xrwma kai rythmizei to padding tou kathws toy dinoyme thn idiothta flex gia to periexomeno toy me flex layout se sthlh*/
#bestsellers{
    grid-area: bestsellers;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: var(--mediumBlue);
    padding: 16px;
}

/*Allazei to xrwma, thn grammatoseira, to megethos kai thn stoixish se epikefalides megethoys h2*/
h2{
    color:white;
    text-align:center;
    font-family: impact, fantasy;
    font-size: 2.5em;
}

/*rythmizei to margin sto panw meros twn eikonwn sta bestesellers*/
#bestsellers img{
    margin-top: 20px;
}

/*prosthetei skia otan bazeis apo panw ton cersora soy stis eikones sto bestsellers*/
#bestsellers img:hover{
    box-shadow: 0em 0.2em 0.2em #211a0b;
}

/*Allazei to xrwma sta "koympia" toy navigation bar (dld sta links poy mas metaferoyn se alles selides ths istoselidas mas) se backround kai keimeno, allazei to megethos ths grammatoseiras, afairei thn grammh katw apo ta "links" kai rythmizei to megethos toy margin, toy padding kai toy border*/
nav a{
    text-decoration: none;
    font-size: 25px;
    color: var(--darkBlue);
    text-align: center;
    display: block;
    border-radius: 20px;
    background: var(--lightBlue);
    padding: 0.1em 0.5em 0.1em;
    margin: 2em auto 2em auto;
}

/*Allazei to xrwma sta "koympia" toy navigation bar (dld sta links poy mas metaferoyn se alles selides ths istoselidas mas) kai toys prosthetei skia otan to pontiki einai panw toys*/
nav a:hover{
    background: #f5f0f0;
    box-shadow: 0em 0.2em 0.2em #211a0b;
}

/*Dinei thn idiothta flex me flex layout se sthlh kai orizei k poia perioxh einai sto grid*/
main{
    grid-area: main; 
    display: flex;
    flex-direction: column;
    display: block;
}

/*Rythmizei to padding gia article*/
article{
    padding: 10px;
}

/*Allazei thn grammatoseira, to xrwma toy keimenoy kai to megethos toy gia kathe epikefalida(h1) poy brisketai mesa se article block kai thn stoixizei sto kentro*/
article>h1{
    text-align: center;
    font-family: impact, fantasy;
    font-size: 2.5em;
    color: var(--darkBlue);
}

/*bazei tis epikefalides poy anhkoyn se ayth thn class panw apo ta ypoloipa mesa sto idio flex layout (akomh kai an einai to flex layout se row)*/
.h{
    order:-1;
    flex: 1 0 100%;
}

/*dinei thn idiothta flex, to kanei na kanei wrap kai dinei kateythinsh sto flex layout na einai se seira*/
#flex-topic{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/*Rythmizei to megethos ths eikonas gia kathe hematikh enothta,to margin toys kai tis bazei na stoixizontai sta aristera apo to keimeno*/
.topic-image{
    height: 270px;
    width: 280px;
    margin-right: 10px;
}

/*Rythmizei to margin, to padding, to border kai to megethos ths class topic-section, allazei to backroung xrwma kai to xrwma toy border*/
.topic-section{
    display: block;
    margin: auto auto 5% auto;
    padding: 5px 2px 50px 10px;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

/*Rythmizei to padding gia kathe unordered lista sta themata sthn selida thematikes perioxes*/
.topic-section ul li{
    padding: 15px 0px 15px 0px;
}

/*Prosthetei to icon belos dipla apo kathe antikeimeno ths listas stis thematikes perioxes*/
.topic-section ul{
    list-style-image: url('./images/arrow.png');
    list-style-position: inside;
}

/*Dinei thn idiothta flex, to flex layout ginetai se sthlh kai kanei wrap, stoixizei ta antikeimena sto kentro kai rythmizei to padding toy katw kai panw meroys*/
.lesson-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15px; 
    padding-top: 15px;
}

/*Allazei to megethos ths eikonas gia kathe mathima kai rythmizei to margin ths*/
.lesson-pic{
    height: 50%;
    width: 60%;
    display: block;
    margin: 0px auto 0px auto;
}

/*Rythmizei to padding ths eikonas gia kathe mathima mazi me thn paragrafo poy thn synodeyei*/
.lesson-pic + p{
    padding: 0px 5px 0px 5px;
}

/*Rythmizei to margin stoys pinakes kai rythmizei to border enos pinaka na kollaei me ayto enos alloy*/
table{
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
}

/*Allazei to xrwma toy backround kai toy keimenoy sta header kelia enos pinaka*/
th{
    background-color: var(--mediumBlue);
    color: white;
}

/*Allazei to xrwma toy backround twn seirwn enos pinaka*/
tr{
    background-color: white;
}

/*Rythmizei to padding stis ordered listes*/
table ol li{
    padding: 5px 0px 5px 0px;
}

/*Allazei to style sto bullet stis ordered lists*/
table ol{
    list-style-type: upper-roman;
}

/*Rythmizei to padding stis unordered listes*/
table ul li{
    padding: 5px 0px 5px 0px;

}

/*Afairei ta bullets mprosta apo kathe antikeimeno ths listas*/
table ul{
    list-style-type: none;
}

/*Afairei thn grammh katw apo ta links*/
a{
    text-decoration: none;
}

/*Allazei to xrwma sta links afoy ta exoyn episkeftei*/
a:active{
    color: var(--mediumBlue);
}

/*Dinei thn idiothta flex sthn selida abouUs, me flex layout se grammh kai wrap*/
#flex-about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/*Rythmizei to megethos ths eikonas kai to radius toy border stis eikones twn avatars mas*/
.avatar{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

/*Rythmizei to megethos toy margin, toy padding,toy border (mazi me allagh se xrwma kai style), allazei to xrwma toy backround kai to megethos tou block*/
.aboutUs-section{
    display: block;
    margin: auto auto 5% auto;
    padding: 5px 2px 50px 10px;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Kanei thn stoixish ths formas na einai sto kentro*/
#contact-form{
    text-align: center;
}

/*Rytmizei to megethos toy border sta kelia ths formas, to xrwma toy border kai to xrwma toy kelioy mesa(backround)*/
#contact-form > input{
    border: 1px solid;
    border-color:var(--darkBlue);
    background: #fff;
}

/*Rythmizei to megethos toy border se keli gia megala keimena, to xrwma toy border kai to xrwma toy kelioy mesa(backround)*/
#contact-form > textarea{
    border: 1px solid;
    border-color:var(--darkBlue);
    background: #fff;
}

/*Rythmizei to padding kai to border toy koympioy ths formas(ypobolh), allazei to megethos ths grammhs kai ths grammatoseiras, allazei to xrwma sto backround, sto keimeno kai stis skies toy koympioy, stoixizei to keimeno sto kentro toy koympioy kai dhmioyrgie skia sto keimeno panw sto koympi*/
button{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-color: var(--darkBlue);
    box-shadow: inset 2px 2px 3px white,
                inset -1px -1px 2px black;
}

/*Allazei to xrwma toy background sto koympi ths formas (ypobolh) otan bazeis panw to pontiki soy*/
button:hover {
    background-color: var(--mediumBlue);
}

/*Allazei to xrwma toy background sto koympi ths formas (ypobolh) otan to patas*/
button:active {
    box-shadow: inset -2px -2px 3px white,
                inset 1px 1px 2px black;
}

/*Dinei tis idiothtes flex k block me flex layout se grammh, me wrap kai kena sto endiameso kathws kai allazei to xrwma toy background, rythmizie to padding kai to border kai stoixizei ta antikeimena sto kentro sthn forma gia sign up*/
#signUp-form {
    display: block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-top: 15px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

/*Rythmizei to margin kai to min width twn fieldset mesa sthn forma*/
#signUp-form fieldset{
    margin: auto auto 5% auto;
    min-width: 45%;
}

/*Rythmizei to megethos, thn stoixish kai to poso entono einai to keimeno se legend pedia mesa sthn forma*/
#signUp-form legend{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
  
/*Dinei thn idiothta block, rythmizei to margin ths katw pleyras kai to poso entono einai to keimeno gia labels kai stis proswpikes erwthseis alla kai sto erwthmatologio ths formas */ 
.personal label, .question label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
  
/*Dinei thn idiothta block, rythmizei to margin ths katw kai panw pleyras, to padding, to width kai to border radius gia input kai select gia tis proswpikes erwthseis kai gia to erwthmatologio antistoixa, ths formas */ 
.personal input, .question select {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 10px;
    display: block;
    width: 80%;
}

/*Dinei thn idiothta flex me flex layout se grammh kai me wrap, me stoixish twn antikeimenwn sto kentro kai kena sto endiameso gia ta inputs poy einai type radio(kai anhkoyn sthn class radio-horizontal) ths formas*/
.radio-horizontal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*Rythmizei to megethos kai to margin se panw kai katw meros gia ta inputs poy exoyn type range ths formas*/
input[type=range] {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*Otan einai invalid ta antikeimena poy anhkoyn sthn class must allazei xrwma kai skiash*/
.must:invalid{
    box-shadow: 3px 3px 5px red;
    border-color: red;
}

/*Otan einai valid ta antikeimena poy anhkoyn sthn class must allazei xrwma kai skiash*/
.must:valid{
    box-shadow: 3px 3px 5px green;
}

/*Rythmizei to megethos ton icons poy yparxoyn sto footer*/
.footer-icon{
    width: 25px;
    height: 25px;
}

/*dinei thn idiothta flex k block sto section(div) me flex layout se grammh kai wrap*/
.password-eye{
    display: block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/*Allazei to megethos toy eikonidioy eye(dipla apo to password gia na to kanei visible-invisible)*/
#eye{
    width: 20px;
    height: 20px;
}

/*Allazei to xrwma twn links sto footer*/
.footer-link{
    color:white;
}

/*Allazei to xrwma se background kai sto keimeno sto footer, rythmizei to megethos toy padding, kanei thn stoixish toy keimenoy sto kentro kai allazei thn grammatoseira se serif*/
footer{
    background-color: var(--darkBlue);
    padding: 5px;
    text-align: center;
    color: white;
    font-family: serif;
    grid-area: footer; 
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
 }

/*Prosarmogh se othonh tablet (width:541px-1024px), 2 sthles*/
@media screen and (min-width: 541px) and (max-width: 1024px){

    /*Orizei to megethos twn sthlwn toy grid me minmax gia kathe sthlh kai tis perioxes toy(areas)*/
    body{
        grid-template-columns: minmax(28%, 1.3fr) minmax(auto, 3fr);
        grid-template-areas: 
            'header header'
            'menu main'
            'bestsellers bestsellers'
            'footer footer';
    }

    /*prosarmozei to bestsellers section ths selidas na einai flex layout se seira me wrap kai kena endiamesa twn antikeimenwn*/
    #bestsellers{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*bazei tis epikefalides poy anhkoyn se ayth thn class panw apo ta ypoloipa mesa sto idio flex layout (akomh kai an einai to flex layout se row)*/
    h2{
        order:-1;
        flex: 1 0 100%;
    }

    /*Rythmizei to margin stis eikones sto bestsellers*/
    #bestsellers img{
        margin: 20px 10px 0px 10px;
    }

    /*allazei to megethos ths eikonas sthn arxikh(index)*/
    #index-image{
        height: 50%;
        width: 75%;
    }

    /*Allazei to megethos ths eikonas sthn epikoinwnia(contact)*/
    #contact-image{
        height: 15%;
        width: 55%;
    }
}
/*Prosarmogh se othonh laptop-desctop (width:1025px-...), 3 sthles*/
@media screen and (min-width: 1025px){

    /*Orizei to megethos twn sthlwn toy grid me minmax gia kathe sthlh kai tis perioxes toy(areas)*/
    body{
        grid-template-columns: minmax(auto, 0.7fr) minmax(auto, 3fr) minmax(310px, 1.1fr);
        grid-template-areas:
        'header header header'
        'menu main bestsellers'
        'footer footer footer';
    }

    /*allazei to megethos ths eikonas sthn arxikh(index)*/
    #index-image{
        height: 50%;
        width: 75%;
    }

    /*Allazei to megethos ths eikonas sthn epikoinwnia(contact)*/
    #contact-image{
        height: 20%;
        width: 65%;
    }
}